*{
    background-color: rgb(23, 51, 105);
    color: white;
    text-decoration: none;
    text
}
.transparent{
    background-color: transparent;
}
.container{
    height: 500px;
    border: 1px;
    margin: 0 auto blue;
    padding: center;
    position: right;

}
.col{ 
    width: 300px;
    height: 200px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 780px;
    margin-top: 20px;
    padding: 20px;
    background-color: #101e46;

}

.title{
    font-weight: bolder;
    text-align: center;
}
